.footer
  span Theme by 
  a(href="https://www.caicai.me")  CaiCai 
  span &
  a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  br
  span Proudly published with 
  a(href="https://hexo.io/zh-cn/", target="_blank") Hexo&#65281;